
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #00e6b0;
      }
      .tab {
        overflow: hidden;
        border: 1px solid #ff0606;
        background-color: #7b00f6;
      }
      .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
      }
      .tab button:hover {
        background-color: #ff0000;
      }
      .tab button.active {
        background-color: #00ff44;
      }
      .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ffffff;
        border-top: none;
      }
      img {
        max-width: 100%;
        height: auto;
      }
      .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      .gallery img {
        margin: 10px;
        max-width: 300px;
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th, td {
        border: 1px solid #ffffff;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #4CAF50;
        color: rgb(14, 12, 12);
      }
   